body {
    
    background-color : #f8f4e6;
    
    color : #2b2b2b;

}

hr {
    height : 1px;
    background-color : #2b2b2b;
    border : none;
}

img {
    margin : 20px;
}

summary {
    user-select: none;
    display : block;
    cursor : pointer;
}

details[open] {
    border-top : 2px solid #ddbb99;
    border-bottom : 2px solid #ddbb99;
    background : #ede4cd;
}